/*@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

body {
    font-family: 'Sora';
}

h1 {
    font-weight: 300;
}*/

a {
    text-decoration: none;
    color: black;
}

#navbar {
    font-weight: 400;
}

.entry-row {
    background-color: white;
    border: white;
    border-width: thick;
    border-radius: 7px;
    padding:20px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
    margin: 20px 0 12px 0;
}

.entry-row span {
    font-size: 14px;
}

.entry-row h3 {
    font-weight: 400;
}

.page-content {
    margin-top: 50px;
}

.page-content ul {
    list-style-type: none;
}

.filter {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

#homepage-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
}

#select-search-course {
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

#select-search-course:focus { 
    border-color: #505050;
}



/* CARDS */

/* Float four columns side by side */
.card-column {
    float: left;
    width: 275px;
    padding: 0 10px;
}
  
/* Remove extra left and right margins, due to padding */
.card-row {margin: 0 -5px;}

/* Clear floats after the columns */
.card-row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
    .card-column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
}

.card:hover {
    background-color: rgb(207, 207, 207);
}



/* HOMEPAGE */
#logo_homepage {
    width: 400px;
}

@media only screen and (orientation: portrait) {
    #logo_homepage {
        width: 75%;
    }
    
}