/*@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

body {
    font-family: 'Sora';
}

h1 {
    font-weight: 300;
}*/

a {
    text-decoration: none;
}

#navbar {
    font-weight: 400;
}

.entry-row {
    background-color: white;
    border: white;
    border-width: thick;
    border-radius: 7px;
    padding:20px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
    margin: 20px 0 12px 0;
}

.entry-row span {
    font-size: 14px;
}

.entry-row h3 {
    font-weight: 400;
}

.page-content {
    margin-top: 30px;
}

.page-content ul {
    list-style-type: none;
}

.filter {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}
